<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLNS"
            sequence="0"/>
          
        <menuitem name="Quản lý nhân viên" 
            id="menu_nhan_vien" 
            parent="menu_root" 
            sequence="1"
            action="action_nhan_vien"
        />

        <menuitem name="Quản lý lịch sử làm việc" 
            id="menu_lich_su_lam_viec" 
            parent="menu_root" 
            sequence="2"
            action="action_lich_su_lam_viec"
        />

        <menuitem name="Quản lý chức vụ" 
            id="menu_chuc_vu" 
            parent="menu_root" 
            sequence="3"
            action="action_chuc_vu"
        />

        <menuitem name="Quản lý phòng ban" 
            id="menu_phong_ban" 
            parent="menu_root" 
            sequence="4"
            action="action_phong_ban"
        />
        
        <!-- <menuitem name="Hợp đồng lao động" 
            id="menu_hop_dong_lao_dong" 
            parent="menu_root" 
            sequence="5"
            action="action_hop_dong_lao_dong"
        /> -->
    </data>
</odoo>
